/* Container für das Karussell */
.carousel-container {
  display: flex;
  margin-right: 25px;
  height: 298px;
  width: 450px; /* Hier kannst du die Größe des Karussells nach Bedarf anpassen */
  position: relative; /* Für die korrekte Positionierung der Karussell-Items */
  overflow: hidden; /* Verhindert, dass Bilder außerhalb des Containers angezeigt werden */
  align-items: center;
}
@media (max-width: 1000px) {
  .carousel-container {
    width: 100%;
    height: auto;
    margin-right: 0px;
  }
}
/* Container für das Karussell */
.carousel {
  margin-bottom: 1rem;
  width: 100%;
  height: 100%; /* Stellt sicher, dass die Höhe des Containers genutzt wird */
  position: relative;
}

/* Container für das Karussell-Item */
.carousel-item {
  height: 100%; /* Höhe auf 100% des Container-Höhe setzen */
  display: flex; /* Flexbox für die richtige Positionierung */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  position: relative; /* relative Positionierung für das Karussell */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Angepasste Transition */
}

/* Stil für die Bilder */
.carousel-item > img {
  width: 100%; /* Breite auf 100% des Container-Breite setzen */
  height: 100%; /* Höhe auf 100% des Container-Höhe setzen */
  object-fit: cover; /* Bild skalieren, um den Container auszufüllen */
  display: block; /* Verhindert zusätzlichen Abstand unter dem Bild */
}

/* Modal-Stile */
.modal-dialog {
  display: flex; /* Flexbox für Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  width: 100%; /* Volle Breite für Modal-Dialog */
  height: 100%; /* Volle Höhe für Modal-Dialog */
  margin: 0; /* Kein zusätzlicher Margin */
  padding: 0; /* Kein zusätzliches Padding */
}

.modal-content {
  min-width: 703px; /* Mindestbreite auf 703px setzen */
  max-width: 90vw; /* Maximalbreite auf 90% der Ansicht setzen */
  height: auto; /* Höhe automatisch anpassen */
  max-height: 90vh; /* Maximalhöhe auf 90% der Ansicht setzen */
  display: flex; /* Flexbox für die korrekte Positionierung des Karussells */
  align-items: center; /* Vertikale Zentrierung des Karussells */
  justify-content: center; /* Horizontale Zentrierung des Karussells */
}

/* Modal-Karussell */
.modal-carousel {
  width: 100%; /* Volle Breite des Modal-Inhalts nutzen */
  height: 100%; /* Volle Höhe des Modal-Inhalts nutzen */
}

.modal-carousel .carousel-item > img {
  width: 100%; /* Breite des Bildes auf 100% des Containers setzen */
  height: auto; /* Höhe des Bildes automatisch anpassen */
  max-height: 80vh; /* Maximalhöhe auf 80% der Ansicht setzen */
  object-fit: contain; /* Bild skalieren, um den Container auszufüllen, ohne zuzuschneiden */
}

/* Versteckt nicht aktive Karussell-Items */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-next.active,
.carousel-item-prev.active {
  opacity: 1; /* Sicherstellen, dass aktive Items sichtbar sind */
}

/* Versteckt nicht aktive Karussell-Items beim Übergang */
.carousel-item-next,
.carousel-item-prev {
  opacity: 0;
}
.carousel-indicators button::before {
  content: "";
}
