/* Container für das Karussell */
.carousel-container {
  display: flex;
  margin-right: 25px;
  height: 298px;
  width: 450px; /* Hier kannst du die Größe des Karussells nach Bedarf anpassen */
  position: relative; /* Für die korrekte Positionierung der Karussell-Items */
  overflow: hidden; /* Verhindert, dass Bilder außerhalb des Containers angezeigt werden */
  align-items: center;
}
@media (max-width: 1000px) {
  .carousel-container {
    width: 100%;
    height: auto;
    margin-right: 0px;
  }
}
/* Container für das Karussell */
.carousel {
  margin-bottom: 1rem;
  width: 100%;
  height: 100%; /* Stellt sicher, dass die Höhe des Containers genutzt wird */
  position: relative;
}

/* Container für das Karussell-Item */
.carousel-item {
  height: 100%; /* Höhe auf 100% des Container-Höhe setzen */
  display: flex; /* Flexbox für die richtige Positionierung */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  position: relative; /* relative Positionierung für das Karussell */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Angepasste Transition */
}

/* Stil für die Bilder */
.carousel-item > img {
  object-fit: contain; /* Bild skalieren, um den Container auszufüllen */
  display: block; /* Verhindert zusätzlichen Abstand unter dem Bild */
  width: 100%;
  height: auto;
}

/* Modal-Stile */
.modal-dialog {
  display: flex; /* Flexbox für Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  width: 100%; /* Volle Breite für Modal-Dialog */
  height: 100%; /* Volle Höhe für Modal-Dialog */
  margin: 0; /* Kein zusätzlicher Margin */
  padding: 0; /* Kein zusätzliches Padding */
}

/* Modal-Karussell */
.modal-carousel {
  width: 100%; /* Volle Breite des Modal-Inhalts nutzen */
  height: 100%; /* Volle Höhe des Modal-Inhalts nutzen */
}

.modal-carousel .carousel-item > img {
  width: 100%; /* Breite des Bildes auf 100% des Containers setzen */
  height: auto; /* Höhe des Bildes automatisch anpassen */
  max-height: 80vh; /* Maximalhöhe auf 80% der Ansicht setzen */
  object-fit: contain; /* Bild skalieren, um den Container auszufüllen, ohne zuzuschneiden */
}

/* Versteckt nicht aktive Karussell-Items */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-next.active,
.carousel-item-prev.active {
  opacity: 1; /* Sicherstellen, dass aktive Items sichtbar sind */
}

/* Versteckt nicht aktive Karussell-Items beim Übergang */
.carousel-item-next,
.carousel-item-prev {
  opacity: 0;
}
.carousel-indicators button::before {
  content: "";
}
/* Modal Video Content Anpassung */

/* Wrapper für das Video */
.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Video-Player: Höhe festgelegt, Breite berechnet sich automatisch */
.video-player {
  height: 100%; /* Feste Höhe relativ zum Modal */
  width: auto; /* Breite passt sich automatisch an */
  max-height: 700px; /* Maximale Höhe des Videos */
  border: 2px solid white; /* Weißer Rahmen um das Video */
  border-radius: 5px; /* Abgerundete Ecken am Video */
  position: fixed;
}
@media (max-width: 1000px) {
  .video-player {
    height: 65%;
    width: auto;
  }
}
.modal-content {
  background-color: white; /* Weißer Hintergrund */
  padding: 10px; /* Abstand zwischen Inhalt und Rand */
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Schatten für Tiefe */
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90vh; /* Maximale Höhe auf 90% der Bildschirmhöhe begrenzen */
  overflow: hidden; /* Verhindert das Scrollen */
  object-fit: contain;
}

/* Stile für Bilder */
.modal-content.bild {
  min-width: 703px;
  max-width: 90vw;
  max-height: fit-content;
  object-fit: contain;
}

/* Stile für Videos */
.modal-content.video {
  max-width: fit-content; /* Passt sich der Breite des Inhalts an */
}
@media (max-width: 1000px) {
  .modal-content.bild {
    min-width: 1px;
    max-width: 800px;
  }
}
@media (max-width: 400px) {
  .modal-content.bild {
    min-width: 1px;
    max-width: 400px;
  }
}
