.profil-ausrichtung {
  display: flex;
  align-items: center; /* Vertikale Ausrichtung */
}
.profil-ausrichtung p {
  font-size: 15px;
  margin: 0px;
  font-family: "MeineSchriftart2";
}
.mobil {
  color: #7a7474;
  font-weight: bold;
}
.mobilnummer {
  color: #000000;
}
.email {
  color: #7a7474;
  font-weight: bold;
}
.emailadresse {
  color: #000000;
}
.profile {
  display: flex;
  align-items: center; /* Vertikale Ausrichtung innerhalb des Profils */
}
.carousel.slide {
  margin-bottom: 0;
}
.profile-header {
  display: flex;
  justify-content: space-between; /* Abstand zwischen Profil und Header */
  align-items: center; /* Vertikale Ausrichtung auf gleicher Höhe */
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
}

.profile img {
  width: 218px;
  height: 99px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  margin-right: 17px;
  margin-left: 10px;
  flex-direction: column;
  font-family: "MeineSchriftart";
}
@media (max-width: 1100px) {
  .profile-info {
    display: none;
  }
}

.profile-info h2 {
  font-size: 14px;
  font-family: "MeineSchriftart2";
}
.Name {
  margin-bottom: 3px;
}
.unternehmensname {
  font-size: 12px;
  color: #7a7474;
  margin: 5px 0;
}
