.profil-ausrichtung {
  display: flex;
  align-items: center; /* Vertikale Ausrichtung */
}
.profil-ausrichtung p {
  font-size: 15px;
  margin: 0px;
}
.mobil {
  color: #7a7474;
  font-weight: bold;
}
.mobilnummer {
  color: #000000;
}
.email {
  color: #7a7474;
  font-weight: bold;
}
.emailadresse {
  color: #000000;
}
.profile {
  display: flex;
  align-items: center; /* Vertikale Ausrichtung innerhalb des Profils */
}
.profile-header {
  display: flex;
  justify-content: space-between; /* Abstand zwischen Profil und Header */
  align-items: center; /* Vertikale Ausrichtung auf gleicher Höhe */
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.profile img {
  width: 218px;
  height: 99px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.profile-info {
  display: flex;
  margin-right: 17px;
  margin-left: 10px;
  flex-direction: column;
  font-family: "font-family: Baskerville, " Baskerville Old Face ", " Hoefler
    Text ", Garamond, " Times New Roman
    ", serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.57143px;";
}

.profile-info h2 {
  font-size: 14px;
}
.Name {
  margin-bottom: 3px;
}
.unternehmensname {
  font-size: 12px;
  color: #7a7474;
  margin: 5px 0;
}
