body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f7f3e9; /* Light beige */
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center; /* Vertikale Ausrichtung */
  padding: 10px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
}
.header h1 {
  font-size: 44px; /* Größere Schriftgröße für die Hauptüberschrift */
  margin: 0;
  line-height: 1.2;
  letter-spacing: 1px; /* Etwas mehr Abstand zwischen den Buchstaben */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header-main {
  color: #000000; /* Weiß für den Haupttitel */
}

.header-subtitle {
  color: #7a7474; /* Helles Grau für den Untertitel */
}

.container {
  width: 80%;
  margin: 0 auto;
}

.product {
  display: flex;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  width: 100%;
  flex-wrap: wrap;
}

.product-description {
  flex-wrap: wrap;
  min-width: 70%;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product-description h3 {
  font-size: 22px;
  margin: 0 0 0 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product-description p {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.details {
  font-size: 14px;
  color: #888;
}

.icon-text {
  display: flex;
  flex-direction: row; /* Ändert die Richtung der Flex-Elemente zu nebeneinander */
  gap: 5px;
  margin: 0; /* Kein zusätzlicher Außenabstand */
}

.icon-text img {
  display: block;
  width: 24px;
  height: 20px;
  margin: 0;
}
.flex-container {
  margin-top: 10px;
  display: flex; /* Verwenden von Flexbox für die Container-Anordnung */
  gap: 20px; /* Abstand zwischen den Items */
}

.icon-text p {
  margin: 0;
  padding: 0;
}
.preis {
  display: flex;
  flex-direction: column; /* Preise werden in zwei Zeilen dargestellt */
  text-align: right; /* Preise werden rechtsbündig dargestellt */
  align-items: flex-end; /* Preise werden ganz rechts im Container positioniert */
}

.description-header {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between; /* Stellt sicher, dass Straße links und Preis rechts stehen */
  width: 100%; /* Nimmt die volle Breite des Containers ein */
}
@media (max-width: 800px) {
  .preis {
    align-items: flex-start; /* Links ausrichten, wenn der Platz begrenzt ist */
  }
}
.straße {
  flex-grow: 1; /* Straße nimmt so viel Platz wie möglich ein */
}
.preis1 {
  font-size: 20px !important;
  color: #000000 !important;
}
.preis2 {
  font-size: 20px !important;
  color: #000000 !important;
}
.preisqm {
  font-size: 15px !important;
}

.flatground {
  display: flex;
  margin-top: 10px;
}
.flat {
  color: #000000;
  font-weight: lighter;
  font-size: 13px;
}
.groundfloor {
  color: #7a7474;
  font-size: 13px;
}
