body {
  font-family: "font-family: Baskerville, " Baskerville Old Face ", " Hoefler
    Text ", Garamond, " Times New Roman
    ", serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.57143px;";
  background-color: rgb(7, 25, 43); /* Light beige */
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center; /* Vertikale Ausrichtung */
  padding: 10px;
  background-color: transparent;
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
}
.header h1 {
  font-size: 30px; /* Größere Schriftgröße für die Hauptüberschrift */
  background-color: transparent;
  line-height: 1.2;
  letter-spacing: 1px; /* Etwas mehr Abstand zwischen den Buchstaben */
  font-family: "font-family: Baskerville, " Baskerville Old Face ", " Hoefler
    Text ", Garamond, " Times New Roman
    ", serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.57143px;";
}
.header-main {
  color: #7a7474; /* Weiß für den Haupttitel */
}

.header-subtitle {
  color: #7a7474; /* Helles Grau für den Untertitel */
}

.container {
  width: 80%;
  margin: 0 auto;
}

.product {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #fff;
  width: 100%;
  flex-wrap: wrap;
}

.product-description {
  flex-wrap: wrap;
  min-width: 60%;
  margin: 0;
  font-family: "font-family: Baskerville, " Baskerville Old Face ", " Hoefler
    Text ", Garamond, " Times New Roman
    ", serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.57143px;";
}

.product-description h3 {
  font-size: 22px;
  margin: 0 0 0 0;
  font-family: "font-family: Baskerville, " Baskerville Old Face ", " Hoefler
    Text ", Garamond, " Times New Roman
    ", serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.57143px;";
}

.icon-text {
  display: flex;
  flex-direction: row; /* Ändert die Richtung der Flex-Elemente zu nebeneinander */
  gap: 5px;
  margin: 0; /* Kein zusätzlicher Außenabstand */
}

.icon-text img {
  display: block;
  width: 24px;
  height: 20px;
  margin: 0;
}
.flex-container {
  display: flex; /* Verwenden von Flexbox für die Container-Anordnung */
  gap: 20px; /* Abstand zwischen den Items */
}

.icon-text p {
  margin: 0;
  padding: 0;
}
.preis {
  display: flex;
  flex-direction: column; /* Preise werden in zwei Zeilen dargestellt */
  text-align: right; /* Preise werden rechtsbündig dargestellt */
  align-items: flex-end; /* Preise werden ganz rechts im Container positioniert */
}

.description-header {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between; /* Stellt sicher, dass Straße links und Preis rechts stehen */
  width: 100%; /* Nimmt die volle Breite des Containers ein */
}
@media (max-width: 800px) {
  .preis {
    align-items: flex-start; /* Links ausrichten, wenn der Platz begrenzt ist */
  }
}
.straße {
  flex-grow: 1; /* Straße nimmt so viel Platz wie möglich ein */
}
.preis1 {
  margin: 0;
  font-size: 20px !important;
  color: #000000 !important;
}
.preis2 {
  margin: 0;
  font-size: 20px !important;
  color: #000000 !important;
}
.preisqm {
  margin: 0;
  font-size: 15px !important;
}

.flatground {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}
.dick {
  color: #000000;
  font-weight: lighter;
  font-size: 15px;
}
.hell {
  color: #7a7474;
  font-size: 15px;
}
.details {
  margin-top: 12px;
  display: flex;
}
.items {
  display: flex;
  flex-direction: row; /* Ändert die Richtung der Flex-Elemente zu nebeneinander */
  gap: 14px;
  margin-top: 25px;
  margin-left: -7px;
  border-top: 1px solid #ddd;
  text-align: left; /* Preise werden rechtsbündig dargestellt */
  align-items: flex-start; /* Preise werden ganz rechts im Container positioniert */
  padding-top: 37px;
}
.items img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
}

.icon-button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
}
.button-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 6px 10px; /* Kleinere Polsterung */
  border-radius: 4px;
  position: absolute;
  top: 110%; /* Positioniert die Sprechblase unter dem Button */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Leichter Schatten */
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Verhindert Zeilenumbruch */
  font-size: 12px; /* Kleinere Schriftgröße */
  z-index: 10;
}

.button-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -5px; /* Spitze der Sprechblase */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent; /* Weißer Dreieck-Pfeil nach oben */
}
.beschriftung-icons {
  font-size: 10px;
  margin-left: -14px;
  margin-top: 13px;
  font-family: "font-family: Baskerville, " Baskerville Old Face ", " Hoefler
    Text ", Garamond, " Times New Roman
    ", serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Baskerville, "
    Baskerville Old Face ", " Hoefler Text ", Garamond, " Times New Roman
    ", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.57143px;";
}
